<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="./script/main.css  " type="text/css"/>
<body>
<div class="header">
    <div class="min-header">
        <div class="m-header">
            <ul>
                <li><a href="//www.bilibili.com"><img src="./img/bilibili-line(1).png" alt="" width="18px"
                                                      height="18px"/>
                        主站</a></li>
                <li><a href="//www.bilibili.com/anime/">番剧</a></li>
                <li><a href="//game.bilibili.com">游戏中心</a></li>
                <li><a href="//live.bilibili.com">直播</a></li>
                <li><a href="//show.bilibili.com/platform/home.html?msource=pc_web">会员购</a></li>
                <li><a href="//manga.bilibili.com/?from=bill_top_mnav">漫画</a></li>
                <li><a href="//www.bilibili.com/v/game/match/">赛事</a></li>
                <li><a href="//app.bilibili.com/"><img src="./img/手机.png" width="18px" height="18px" alt="">下载APP</a>
                </li>
            </ul>


            <div class="search">
                <form action="" class="search_form">
                    <input type="text" value="动漫行业的未来在哪" class="searchin"/>

                    <button class="btn">
                    </button>
                </form>
            </div>

            <div class="user-login">
                <div class="logup">
                    <img src="//static.hdslb.com/images/akari.jpg"/>
                    登录
                </div>
                <div class="login"><a href="">注册</a></div>
                <span class="contribute">投稿</span>
            </div>
        </div>
    </div>
    <div class="logo">
        <img src="./img/BILIBILI_LOGO.png"/>
    </div>
    <div class="b-warp">
        <div class="itnl">
            <div class="con-left">
                <li><a href="//bilibili.com">
           <span style="background-color:#ff5c7c;">
            <img src="./img/首页.png" alt=""/>
               </span>
                        首页
                    </a></li>
                <li><a href="">
            <span style="background-color: #fcba2a;">
            <img src="./img/动态.png " alt="">
            </span>
                        动态
                    </a></li>
                <li><a href="">
            <span style="background-color:#00a1d6;">
            <img src="./img/排行榜.png " alt="">
                </span>
                        排行榜
                    </a></li>
            </div>
            <div class="con-mid">
                <ul>
                    <li><a href=""><span>动画<em>999+</em></span></a></li>
                    <li><a href=""><span>音乐<em>999+</em></span></a></li>
                    <li><a href=""><span>舞蹈<em>999+</em></span></a></li>
                    <li><a href=""><span>科技<em>999+</em></span></a></li>
                    <li><a href=""><span>生活<em>999+</em></span></a></li>
                    <li><a href=""><span>时尚<em>999+</em></span></a></li>
                    <li><a href=""><span>娱乐<em>999+</em></span></a></li>
                    <li><a href=""><span>放映厅<em>999+</em></span></a></li>

                    <li><a href=""><span>番剧<em>999+</em></span></a></li>
                    <li><a href=""><span>国创<em>999+</em></span></a></li>
                    <li><a href=""><span>游戏<em>999+</em></span></a></li>
                    <li><a href=""><span>数码<em>999+</em></span></a></li>
                    <li><a href=""><span>鬼畜<em>999+</em></span></a></li>
                    <li><a href=""><span>广告<em>999+</em></span></a></li>
                    <li><a href=""><span>影视<em>999+</em></span></a></li>
                    <li><a href=""><span>更多<i class="more"></i></span></a></li>
                </ul>
            </div>
            <div class="con-right">
                <ul>
                    <li><a href=""><img src="./img/满运宝专栏.png" alt="">专栏</a></li>
                    <li><a href=""><img src="./img/天平.png " alt="">小黑屋</a></li>
                    <li><a href=""><img src="./img/活动.png " alt="">活动</a></li>
                    <li><a href=""><img src="./img/直播-01.png " alt="">直播</a></li>
                    <li><a href=""><img src="./img/会话.png  " alt="">专题</a></li>
                    <li><a href=""><img src="./img/赛事.png " alt="">赛事</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>
</div>
<div class="right">
    <div class="item ">直播</div>
    <div class="item">动画</div>
    <div class="item">番剧</div>
    <div class="item">国创</div>
    <div class="item">漫画</div>
    <div class="item">音乐</div>
    <div class="item">舞蹈</div>
    <div class="item">游戏</div>
    <div class="item">科技</div>
    <div class="item">数码</div>
    <div class="item">生活</div>
    <div class="item">鬼畜</div>
    <div class="item">时尚</div>
    <div class="item">广告</div>
    <div class="item">娱乐</div>
    <div class="item">专栏</div>
    <div class="item">电影</div>
    <div class="item">TV剧</div>
    <div class="item">影视</div>
    <div class="item">纪录片</div>
    <div class="item exch"></div>
    <a href="#">
        <div class="item footer"></div>
    </a>
</div>
<div class="report">
    <div class="viewport">
        <div class="wrap">
            <img class="pic1" name="pic" src="./img/9F4DF2425453A9D5964DFC55AB18C37E.jpg " alt="">
            <img class="pic2" name="pic" src="./img/backiee-120685.jpg" alt="">
            <img class="pic3" name="pic" src="./img/backiee-21542.jpg" alt="">
            <img class="pic4" name="pic" src="./img/A0C195B769F1D818ABD2F70314205E25.jpg " alt="">
            <img class="pic5" name="pic" src="./img/6149A8812DEFAEC9720842989D7B12C4.jpg" alt="">
        </div>
        <div class="page">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

    </div>
    <div class="show">
        <div class="info"></div>
        <div class="info"></div>
        <div class="info"></div>
        <div class="info"></div>
        <div class="info"></div>
        <div class="info"></div>
    </div>
</div>
</body>
<script>
    "use strict";
    let pag = document.querySelector("[class=page]");
    let img = document.querySelectorAll("[name=pic]");
    let btn = pag.firstElementChild;
    for (let i = 0; i < pag.childElementCount; i++) {
        btn.addEventListener("click", function () {
            this.className = "on";
            photo(i);
            move(i)
        });
        btn = btn.nextElementSibling
    }
    let btn1 = pag.firstElementChild;

    function move(i) {

        for (let n = 0; n < pag.childElementCount; n++) {
            if (n != i) {
                btn1.className = "";
            }
            btn1 = btn1.nextElementSibling;
        }
        btn1 = pag.firstElementChild;
    }

    function photo(i) {
        let n = 1;
        img[i].className = "pic" + n;
        for (; i < 5; i++, ++n) {
            img[i].className = "pic" + n;
        }
        let c=5-n;
        for(let m=0;m<=c;m++,n++){
            img[m].className="pic"+n;
        }
    }
</script>
</html>