<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="jquery.js"></script>
</head>

<link rel="stylesheet" type="text/css" href="./script/login.css"/>
<body>
<div class="login">
    <div class="header">
        <div class="header-left">
            <ul>
                <li class="bili"><a href="www.bilibili.com"><img src="./img/20200212141003.png" class="logo"/>
                        <span style="margin-left: 70px">主站</span></a>
                    <img src="./img/标签.png" alt="logo" class="item"/>
                </li>
                <li><a href="">番剧</a></li>
                <li><a href="">游戏中心</a></li>
                <li><a href="">直播</a></li>
                <li><a href="">会员购</a></li>
                <li><a href="">漫画</a></li>
                <li><a href="">赛事</a></li>
                <li><a href=""><img src="./img/20200212143045.png  " alt="" height="30px" width="18px"><i
                                style="font-style: normal;">下载APP</i></a></li>
            </ul>
        </div>
        <div class="search">
            <form action="" class="search_form">
                <input type="text" value="动漫行业的未来在哪" class="searchin"/>

                <button class="btn">
                </button>
            </form>
        </div>

        <div class="user-login">

            <div class="logup">
                <img src="//static.hdslb.com/images/akari.jpg"/>
                登录
            </div>
            <div class="login">
                <a href="login.html">注册</a>
            </div>
            <span class="contribute">投稿</span>
        </div>

    </div>
    <div class="banner">
        <img src="//s1.hdslb.com/bfs/static/passport/static/img/rl_top.35edfde.png" alt="bilibili">
    </div>
    <div class="title-line">
        <span>登录</span>
    </div>
    <div class="login-box">

        <div class="login-left">
            <div class="qrcode-tips">
                <img src="./img/qr-tip.a64967e.png" alt="" class="hid" width="480px" height="192px">
                <i class="tv-icon" style="z-index: 0"></i>

                <div class="qrcode-box" style="z-index: 0"></div>

            </div>
            <div class="qrcode-footer">
                <p class="text-status">扫描二维码登录</p>
                <p class="text-app">请使用
                    <a href="">哔哩哔哩客户端</a>
                    <br>
                    扫码登陆
                    <br>
                    或扫码下载APP
                </p>
            </div>

        </div>
        <div class="line"></div>
        <form enctype="multipart/form-data" method="post" id="log" action="main.html" name="log">
            <div class="login-right">
                <div class="input-box">
                    <div class="type-tap">
                        <span style="color: #02a7de;margin-right: 20px">密码登录</span>
                        <span style="color: #555">短信登录</span>
                    </div>

                    <div class="input-up">
                        <div class="username">
                            <input class="items" id="login_name" placeholder="昵称" type="text" maxlength="20"
                                   autocomplete="off" name="user_name"/>
                            <i></i>
                        </div>
                        <div class="password" style="margin: 30px 0">
                            <input class="items" id="password" placeholder="密码" type="password" maxlength="15"
                                   autocomplete="off" name="pwd"/>
                            <i></i>
                        </div>
                    </div>
                    <div class="remember">
                        <input id="checkbox" type="checkbox" style="margin-left:0 " checked/>
                        <label class="check-box">

                            <span style="margin-left:-55px ">记住我</span>
                            <span style="color: #BBB;">不是自己电脑上不要勾选此项</span>
                            <a href="" class="forget-password">忘记密码</a>
                            <a href="" class="check-not">无法验证</a>
                        </label>
                    </div>
                    <div class="button-box">
                        <button class="btn-login" type="button">
                            登录
                        </button>
                        <a href="login.html" class="btn-reg">注册</a>
                    </div>
                </div>
                <div class="sns">
                    <a href="" class="weibo">
                        <img src="./img/微博.png " width="18px" height="18px" alt="微博"/>
                        微博账号登录</a>
                    <a href="" class="qq">
                        <img src="./img/qq.png  " alt="QQ" width="18px" height="18px"/>
                        QQ账号登录</a>

                </div>
            </div>
        </form>
    </div>
    <p class="deal">
        登录即代表你同意
        <a href="https://www.bilibili.com/protocal/licence.html">用户协议</a>
        和
        <a href="https://www.bilibili.com/blackboard/privacy-pc.html">隐私政策</a>
    </p>


    <div class="bili-footer">
        <ul>
            <li>
                <div class="tip">bilibili</div>
                <div class="card">
                    <a href="//www.bilibili.com/blackboard/aboutUs.html">关于我们</a>
                    <a href="//www.bilibili.com/blackboard/contact.html">联系我们</a>
                    <a href="//www.bilibili.com/blackboard/join.html">加入我们</a>
                    <a href="//www.bilibili.com/blackboard/friends-links.html">友情链接</a>
                    <a href="//account.bilibili.com/account/official/home">bilibili认证</a>
                    <a href="http://ir.bilibili.com">Investor Relations</a>
                </div>
            </li>
            <li>
                <div class="tip">传送门</div>
                <div class="card">
                    <a href="//www.bilibili.com/blackboard/help.html">帮助中心</a>
                    <a href="//www.bilibili.com/video/av120040/">高级弹幕</a>
                    <a href="//www.bilibili.com/blackboard/topic_list.html">活动专题页</a>
                    <a href="//www.bilibili.com/v/copyright/intro">侵权申诉</a>
                    <a href="//www.bilibili.com/blackboard/x/act_list/">活动中心</a>
                    <a href="http://link.acg.tv">用户反馈论坛</a>
                    <a href="//space.bilibili.com/6823116#/album">壁纸站</a>
                    <a href="//www.bilibili.com/blackboard/activity-S1jfy69Jz.html">名人堂</a>
                    <a href="//www.bilibili.com/basc">专车号服务中心</a>
                </div>
            </li>
            <li>
                <div class="card right">
                    <div class="model-app">
                        <span>官方微信</span>
                    </div>
                    <div class="footer-webio">
                        <span>新浪微博</span>
                    </div>
                    <div class="footer-chat">
                        <span>客户端下载</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>
</body>

<script>
    "use strict";
    let name = document.getElementById("login_name");
    let pwd = document.getElementById("password");

    document.querySelector("[class=btn-login]").onclick = function () {
        let flag1 = false;
        let falg2 = false;
        if (name.value.length == 0) {
            name.style.borderColor = "red";
            flag1 = false
        } else {
            name.style.borderColor = "#ddd";
            flag1 = true
        }
        if (pwd.value.length == 0) {
            pwd.style.borderColor = "red";
            flag1 = false
        } else {
            pwd.style.borderColor = "#ddd";
            falg2 = true
        }
        if (flag1 && falg2 && document.getElementById("checkbox").checked) {
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:8000/user/" + name.value,
                data: {user_name: name.value, pwd: pwd.value},
                success: function (data) {
                    $("#log").submit()
                },
                error: function (data) {
                    let obj = JSON.parse(data.responseText);//将数据转为对象
                    let code = obj.error_code;//处理后端发送来的
                    if (code == "005") {
                        error(name, "无该用户");

                    } else if (code == "001") {
                        error(pwd, "格式错误");
                        error(name, "格式错误");
                    } else if (code == "002") {
                        error(pwd, "密码错误")

                    } else {
                        agree(pwd);
                        agree(name)
                    }
                }
            })

        }

    };



    function error(obj, content) {
        obj.style.borderColor = "red";
        obj.nextElementSibling.innerHTML = "<i>" + content + "</i>";
        obj.nextElementSibling.style.color = "red";
    }

    function agree(obj) {
        obj.style.borderColor = "#dcdfe6";
        obj.style.color = "#606266";
        obj.nextElementSibling.innerHTML = "<i></i>";
    }

</script>

</html>